<div class="container-fluid bg-body-tertiary" style="min-height: 80vh;">
  <div class="row mx-md-4 mx-2 justify-content-center">
    <h2 class="my-4">プライバシーポリシー</h2>
    <iframe src="https://kiyac.app/privacypolicy/x35Jc2VFD6sMjOMkraiV" width="100%" height="600px" class="mb-4"></iframe>
  </div>
</div>