<div class="container-fluid d-flex justify-content-center align-items-center bg-body-tertiary min-vh-100">
    <!-- 左側 -->
    <div  class="d-flex flex-column align-items-center justify-content-between col-12 col-md-6 my-5">
        <h1 class="mb-5" style="color: #f7a3a2; font-size: 3.5rem;">Event Station</h1>
        <%= image_tag 'playing_cards.png', width: '12%', class: 'mb-5 d-none d-md-block' %>
        <%= image_tag 'bat_boy.png', width: '30%', class: 'mb-5 d-md-none' %>
        <h5 class="mb-5 text-muted text-center">イベントやゲーム、あそびなどの参加者募集を簡単に行えるサービスです。</h5>
        <a href="<%= events_path %>" type="button" class="btn btn-dark mt-3">イベント一覧</a>
    </div>

    <!-- 右側 -->
    <div  class="d-none d-md-flex flex-wrap align-items-center justify-content-center col-md-6 my-5">
        <%= image_tag 'bat_boy.png', width: '60%' %>
    </div>
</div>
