<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top bg-dark">
    <p class="col-md-6 mb-0 text-white">&copy; 2024 Event Station</p>

    <ul class="nav col-md-6 justify-content-end">
      <li class="nav-item"><a href="<%= terms_of_service_path %>" class="nav-link px-2 text-white">利用規約</a></li>
      <li class="nav-item"><a href="<%= privacy_policy_path %>" class="nav-link px-2 text-white">プライバシーポリシー</a></li>
    </ul>
</footer>