<header>
    <div class="px-3 py-2 bg-dark text-white border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <h1  style="font-size: 2rem;">Event Station</h1>
                </a>

                <ul class="nav col-12 col-lg-auto my-2 justify-content-between my-md-0 text-small">
                    <li>
                        <a href="#" class="nav-link text-white d-flex flex-column align-items-center">
                            <i class="bi bi-calendar-event-fill d-block mx-auto mb-1" style="font-size: 1.5rem;"></i>
                            イベント
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white d-flex flex-column align-items-center">
                            <i class="bi bi-people-fill d-block mx-auto mb-1" style="font-size: 1.5rem;"></i>
                            フレンド
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white d-flex flex-column align-items-center dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle d-block mx-auto mb-1" style="font-size: 1.5rem;"></i>
                            マイページ
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                            <li>
                                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item', data: { turbo_method: :delete } %>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>