<header>
    <div class="px-3 py-2 bg-dark text-white border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <h1  style="font-size: 2rem;">Event Station</h1>
                </a>

                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <div class="px-3 py-2 mb-3">
                        <div class="container d-flex justify-content-end">
                            <a href="#" type="button" class="btn btn-light text-dark me-2">Login</a>
                            <a href="#" type="button" class="btn btn-primary">Sign-up</a>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</header>