<div class="container-fluid bg-body-tertiary min-vh-100">
  <div class="row mx-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="my-4">イベント一覧</h2>
      <div class="mx-3">
        <a href="<%= new_event_path %>" class="btn btn-primary">+ イベント作成</a>
      </div>
    </div>
    <div class="event-list">
      <% @events.each do |event| %>
        <%= render 'event_card', event: event %>
      <% end %>
    </div>
    <%= paginate @events, theme: 'bootstrap-5' %>
  </div>
</div>