<div class="container-fluid bg-body-tertiary min-vh-100">
  <div class="row mx-4">
      <h2 class="my-4">フレンド一覧</h2>

      <div class="event-list">
        <% @friends.each do |friend| %>
          <%= render partial: 'friend_card', locals: { friend: friend } %>
        <% end %>
      </div>
      <%= paginate @friends, theme: 'bootstrap-5' %>
  </div>
</div>
